img.img {
  width: 100%;
}

/* Lightbox Columns */
.lightbox .box {
  width:25%;
  display:inline-block;
  float:left;
}


/* Call to Action Section */
.call-to-action {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
}

/* Join Section */
#join {
    max-width: 70%;
    margin: 30px auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#join i {
  font-size:48px;
  margin-bottom: 1rem;
}

 /* Search Section */
#search {
  text-align:center;
}

#search .form-control {
  min-width:400px;;
  text-align:center;
  padding-bottom:.4rem;
  font-size:24px;
}

#search .form-control:hover {
  border-bottom:3px solid #4285f3;
}

 /* About Section*/
 #about {
   max-width:800px;
   margin:0 auto;
   padding:2em 0;
 }
 #about h2 {
   text-align:center;
 }

 #about .img img {
   max-width:100px;
   margin:0 auto;
   display:block;
 }
