.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/*body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}*/

/* ! Parallax On Sliders */
.parallax {
  background-attachment:fixed;
  background-position:center;
}
/* / Parallax On Sliders */

#general-banner {
  height: 40vh;
  min-height:300px;
  background-image: url(./hwmp-stock-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#general-banner .general-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    padding-top: 8rem;
}

#general-banner-4 {
  height: 40vh;
  min-height:300px;
  background-image: url(./hwmp-stock-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#general-banner-4 .general-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    padding-top: 8rem;
}

#general-banner-7 {
  height: 40vh;
  min-height:300px;
  background-image: url(./hwmp-stock-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#general-banner-7 .general-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    padding-top: 8rem;
}

.login-sect {
  text-align:center;
}

.actions input {
  margin:1em auto;
  display:block;
  border:none;
  background:#ec5495;
  color:#fff;
  padding:1em 2em;

}

.actions input:hover {
  background:#08bbe3;
}

/* ! Signup Page */
#signup {
  max-width:500px;
  margin:2em auto;
}

#signup .field input {
  margin-bottom:1em;
}


#signup .field input:focus {
  border-bottom:3px solid #08bbe3;
  box-shadow:none;
}

#signup .field input:hover {
  border-bottom:3px solid #ef6da4;
}
/* / Signup Page */


/* ! browse */

#browse i {
  font-size:48px;
  margin-bottom: 1rem;
}

#browse .btn {
    margin: 0 auto;
    display: block;
    max-width: 300px;
}

#browse a {
  color:#1c2331
}

#browse .fa-camera {
  color:#1c2331;
  border:5px solid #08bbe3;
  padding:0.5em;
  border-radius:100%;
}

#browse p {
    text-align: center;
    font-size: 24px;
}

#browse span {
    color: #08bbe3;
}

/* / browse */

/* ! Search */

#search .fa-diamond {
  color:#1c2331;
  border:5px solid #ec5495;
  padding:0.5em;
  border-radius:100%;
  margin-top:2rem;
}

#search i {
  font-size:48px;
  margin-bottom: 1rem;
}

#search h2 {
  color:#08bbe3;
  font-size:2.5em;
}

/* / Search */

/* ! Join */
#join .fa-users {
  color:#1c2331;
  border:5px solid #ed5495;
  padding:0.5em;
  border-radius:100%;
}

#join span {
    color: #ed5495;
}

#join p {
    text-align: center;
    font-size: 24px;
}

#join .btn {
  color:#fff!important;
}
/* / Join */

/* ! Photo new Page */
#photo-new {
  max-width:500px;
  margin:2em auto;
}

#photo-new .field input {
  margin-bottom:1em;
}


#photo-new .field input:focus {
  border-bottom:3px solid #08bbe3;
  box-shadow:none;
}

#photo-new .field input:hover {
  border-bottom:3px solid #ef6da4;
}
/* / Photo new Page */

/* ! Profile new Page */
#profile-new {
  max-width:500px;
  margin:2em auto;
}

#profile-new .field input {
  margin-bottom:1em;
}


#profile-new .field input:focus {
  border-bottom:3px solid #08bbe3;
  box-shadow:none;
}

#profile-new .field input:hover {
  border-bottom:3px solid #ef6da4;
}

#profile_bio {
  border-top:none;
  border-right:none;
  border-left:none;
  border-color:#ccc;
}
/* / Profile new Page */

/* ! Lightbox Code */
/*.example-image-link {
  width:25%;
  display:inline-block;
  float:left;
}*/

.example-image {
  width:100%;
  border-radius: 0;
}
/* / Lightbox Code */

.gallery-item {
  width:25%;
  float:left;
  overflow: hidden;
  max-height: 220px;
}

.gallery-edit>div {
  display:inline-block;
  margin-left:10px;
}

.gallery-edit a {
  color:#fff;
}

.gallery-edit a:hover {
  color:rgb(197, 197, 197);
}

.gallery-edit {
  transform:translateY(30px);
}

/* Add Photo Button */
.photo-btn {
  margin: 0 auto 3em auto!important;
  display: table!important;
}

#notice {
  text-align:center;
  padding:2em;
  border:3px solid #08bbe3;
  margin:1em auto;
  max-width:300px;
  color:#696969;
}
